---
slug: /usage
title: Usage
---

## Connecting to the database

You can use any SQL client to connect to the database.
The default connection string is:

```text
postgresql://user:password@localhost:{{ port }}/database
```
