---
slug: /config
title: Configuration
---

## Environment variables

You can configure the database at runtime using various environment variables:

- `{{ envprefix }}__CREDENTIALS__USER__PASSWORD` -
  password for the main user
  (default: `password`)
- `{{ envprefix }}__SERVER__HOST` -
  host to listen for connections on
  (default: `0.0.0.0`)
- `{{ envprefix }}__SERVER__PORT` -
  port to listen for connections on
  (default: `{{ port }}`)
