# Configuration for the credentials
credentials:
  # Configuration for main user credentials
  user:
    # Password for the main user
    password: {{ '{{' }} env.Getenv "{{ envprefix }}__CREDENTIALS__USER__PASSWORD" "password" | strings.Quote {{ '}}' }}

# Cofiguration for the server
server:
  # Host to run the server on
  host: {{ '{{' }} env.Getenv "{{ envprefix }}__SERVER__HOST" "0.0.0.0" | strings.Quote {{ '}}' }}

  # Port to run the server on
  port: {{ '{{' }} env.Getenv "{{ envprefix }}__SERVER__PORT" "{{ port }}" | conv.ToInt {{ '}}' }}
